::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.4
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background-color: $body!important
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
	header .naw-catalog
		height: 100px

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.head
	display: flex
	align-items: flex-start
	width: 100%
	height: 570px
	overflow: hidden
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	text-align: center
	border-bottom: 2px solid darken($body, 10%)
.head-catalog
	display: flex
	align-items: flex-start
	width: 100%
	height: 100px
	overflow: hidden
	background-position: top
	background-repeat: no-repeat
	background-size: cover
	text-align: center

.naw-wrap
	display: flex
	justify-content: space-between
	align-items: flex-start
	position: relative
	width: 100%
	height: 100px
	color: #fff
	background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%)


.naw-btn
	display: none
.nav-mob-phone
	display: none


.logo
	display: block
	position: relative
	width: 180px
	height: 60px
	margin-top: auto
	margin-bottom: auto
	margin-left: 50px
.logo-link
	display: flex
	justify-content: space-around
	align-content: center
	color: #fff
	text-decoration: none
	transition: color .27s ease-out
	&:hover,
	&:focus
		color: lighten($accent, 20%)
		text-decoration: none
		
.logo_img_wrap
	width: 60px
	height: 60px
.logo_img
	width: 100%
.logo_title_wrap
	width: 100px
	display: flex
	flex-wrap: wrap
	align-content: center
.logo_title
	width: 100%
	text-align: right
	font-size: 2rem
	line-height: 2rem
	font-weight: 600
	letter-spacing: 3px
	text-shadow: 1px 1px 1px rgba(43,56,62,.5)


.logo_sub
	width: 100%
	text-align: right
	text-shadow: 1px 1px 1px rgba(43,56,62,.5)

.nav-list
	display: flex
	list-style: none
	height: 60px
	margin-top: auto
	margin-bottom: auto
.nav-item
	display: flex
	align-content: center
	height: 100%	
.nav-item_link
	display: block
	padding: 0 20px
	font-size: 1.2rem
	line-height: 60px

	color: #fff
	text-shadow: 1px 1px 1px rgba(43,56,62,.5)
	transition: color .27s ease-out
	&:hover,
	&:focus
		color: lighten($accent, 20%)
		text-decoration: none


.nav-search	
	display: flex
	height: 60px
	line-height: 60px
	margin-top: auto
	margin-bottom: auto	
	margin-right: 40px
	.fa-search
		display: block
		width: 60px
		height: 60px
		font-size: 1.3rem
		line-height: 60px
		text-shadow: 1px 1px 1px rgba(43,56,62,.5)
		cursor: pointer
		transition: color .27s ease-out
		&:hover,
		&:focus
			color: lighten($accent, 20%)
			text-decoration: none
.nav-search-phone
	font-size: 1.3rem
	text-shadow: 1px 1px 1px rgba(43,56,62,.5)
		
.nav-search-txt
	font-size: 1.2rem
	display: none


.search_wrap
	position: absolute
	top: 90px
	right: 65px
	box-sizing: border-box
	border-radius: 2px
	background: #fff
	width: 450px
	height: auto
	box-shadow: 0 0 6px rgba(122, 122, 122, 80%)


.form-wrap
	display: flex
	justify-content: space-between
	padding: 8px
.search-input
	flex-basis: 100%
	padding: 10px
	border: none
	overflow: hidden
	color: $accent
	font-size: 1.1rem
	&::-webkit-input-placeholder
		color: $accent
		font-style: italic
	&::-moz-placeholder
		color: $accent
		font-style: italic
.search-btn    
	text-transform: uppercase
	display: inline-block
	letter-spacing: 1px
	white-space: normal
	vertical-align: top
	background: $accent
	padding: 11px 10px
	text-align: center
	position: relative
	line-height: 20px
	width: 130px
	color: #fff
	outline: 0
	border: none
	font-weight: 700
	font-size: 14px
	text-shadow: 1px 1px 1px rgba(43,56,62,.5)
	cursor: pointer
	transition: background .25s ease
	&:hover,
	&:focus
		background-color: $darck
		text-decoration: none

	